@model BirthdaySystem.Web.ViewModels.Vote.CreateNewVoteModel
@{
    ViewBag.Title = "Create a New Vote";
}

<h2>@ViewBag.Title</h2>

<div class="container">
    <div class="row">
        @using (Html.BeginForm("CreateVote", "Vote", FormMethod.Post))
        {
            @Html.ValidationSummary(true)
            @Html.AntiForgeryToken()

            <div class="row">
                @Html.LabelFor(m => m.BirthdayPerson)
                @Html.DropDownListFor(m=>m.BirthdayPerson, Model.BirthdayPeople as SelectList, "--Choose a Birthday Person--", new { style = "width: 600px;", @class = "form-control" })
                @*@Html.DropDownList("BirthdayPeopleId", ViewBag.BirthdayPeopleId as SelectList, "--Choose a Birthday Person--", new { style = "width: 600px;", @class = "form-control" })*@
                @Html.ValidationMessageFor(m => m.BirthdayPerson)
            </div>
            <div class="row">
                @Html.LabelFor(m => m.Year)
                @Html.TextBoxFor(m => m.Year, new { @class = "form-control", @Value = DateTime.Now.Year })
                @Html.ValidationMessageFor(m => m.Year)
            </div>
            <div class="row">
                @Html.LabelFor(m => m.StartDate)
                @Html.TextBoxFor(m => m.StartDate, new { @class = "form-control", @Value = DateTime.Now.ToShortDateString() })
                @Html.ValidationMessageFor(m => m.StartDate)
            </div>
            <div class="row">
                @Html.LabelFor(m => m.EndDate)
                @Html.TextBoxFor(m => m.EndDate, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.EndDate)
            </div>
            <div class="row">
                <input type="submit" value="Start Vote" class="btn" />
            </div>
        }
    </div>
</div>